@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #89deff;
  text-align: center;
  padding: 20px;

  color: white;
  font-weight: 900;
  text-shadow: 2px 2px 2px #ccc;
}
nav {
  background-color: #f6ffa4;
  color: #aaa;
  font-weight: bold;
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 20px;
    }
    li.notice,
    li.login {
      margin-left: auto;
    }
    li:hover {
      background-color: #363632;
      color: white;
      cursor: pointer;
    }
  }
}
