@charset "UTF-8";
@charset "UTF-8";
form.user.login {
  width: 40%;
  margin: 50px auto;

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border-radius: 20px;
    border: none;
  }
  span {
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    padding: 10px;
    margin: 20px auto;
    color: #5aa05f;
  }

  h4 {
    background-color: red;
    color: yellow;
  }

  input {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #effff2;
    width: 70%;
    outline: none;
    box-shadow: inset 7px 2px 10px #dbe2df, inset -5px -5px 12px #fff;
    border: 1px solid transparent;
    &:hover {
      background-color: #63b374;
      box-shadow: none;
      color: white;
      opacity: 0.7;
    }
  }
  button {
    background-color: #ace9aa;
    border: 1px solid #ace9aa;
    border-radius: 20px;
    width: 50%;
    font-size: medium;
    font-weight: bold;
    padding: 15px 45px;
    margin: 30px;
    cursor: pointer;
    box-shadow: -5px -5px 10px #fcfcfc, 5px 5px 8px #babdbb;

    &:hover {
      background-color: #63b374;
      border: 1px solid #63b374;
      color: white;
    }
  }
}
